:root {
  --accent-color: #fff831;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px solid white;*/
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Inter";
}

/*Page Header*/
.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: relative;
}

ul {
  display: flex;
  list-style-type: none;
  inline-size: none;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  transition: 0.3s ease all;
}

ul li:hover {
  color: var(--accent-color);
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
}

a:hover {
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--accent-color);
  border: none;
  padding: 0.75rem 1.25rem;
}

.logo-title {
  font-weight: 800;
  color: var(--accent-color);
  font-size: 1.5rem;
}

/*Hero section*/
.hero-section {
  position: relative;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 90vh;
}

.hero-text {
  width: 40%;
  text-align: justify;
}

.ascii-art-container {
  position: absolute;
  right: 4rem;
  top: 2rem;
}

.ascii-art {
  font-family: "Courier New", Consolas, Monaco, monospace;
  white-space: pre;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 0;
  tab-size: 4;
  color: var(--accent-color);
  font-size: 4rem;
}

.hero-text h1 {
  font-weight: 400;
  font-size: 2rem;
}

/*Projects Section*/

.project-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.project-panel {
  background-color: var(--accent-color);
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}
.project-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
}

.projects-tabs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.project-tab {
  background: none;
  color: grey;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.project-tab:hover {
  color: var(--accent-color);
  cursor: pointer;
}

/*About Me Section*/

.about-section-header {
  height: 25vh;
  background-image: url("./assets/rock-texture.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  padding: 0 2rem;
  align-items: center;
}

.about-section-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.about-section-header h2 {
  position: relative;
  z-index: 1;
}

.about-card {
  display: flex;
}

.about-card-text h3 {
  font-size: 2rem;
  font-weight: 400;
}

.about-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.about-card-text p {
  text-align: justify;
}
