:root {
  --accent-color: #fff831;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px solid white;*/
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Inter";
  overflow-x: hidden;
}

/*Page Header*/
.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 500;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

ul {
  display: flex;
  list-style-type: none;
  inline-size: none;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  transition: 0.3s ease all;
}

ul li:hover {
  color: var(--accent-color);
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
}

a:hover {
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--accent-color);
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: white;
  border: none;
  padding: 0.75rem 1.25rem;
}

.logo-title {
  font-weight: 800;
  color: var(--accent-color);
  font-size: 1.5rem;
}

/*Hero section*/
.hero-section {
  position: relative;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.hero-text {
  width: 40%;
  text-align: justify;
}

.ascii-art-container {
  position: absolute;
  right: 0;
  top: -6rem;
  z-index: 1;
}

.hero-text h1 {
  font-weight: 400;
  font-size: 2rem;
}

/*Projects Section*/

.project-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.project-panel {
  background-color: var(--accent-color);
  color: black;
  font-size: 4rem;
  overflow: hidden;
  z-index: 100;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}
.project-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
  background-color: black;
}

.project-number {
  font-family: "Courier Prime", Courier, monospace;
  font-size: 1rem;
  width: 100%;
  padding: 2rem 2rem;
}

.project-image {
  display: block;
  width: 38%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.project-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  padding-bottom: 1rem;
}

.project-stack {
  width: 11rem;
  height: auto;
  opacity: 0.9;
}

.project-description {
  font-size: 1rem;
  text-align: justify;
  width: 30vw;
}
.projects-tabs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.project-tab {
  background: none;
  color: grey;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.project-tab:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.selected {
  color: var(--accent-color);
}

.project-panel-content {
  height: 100%;
  animation: SlideIn 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*About Me Section*/

.about-section-header {
  position: sticky;
  top: 0;
  z-index: 100;

  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.about-section {
  position: relative;
  min-height: 100vh;
}

.about-section p {
  margin: 1rem 0;
}

.role-date {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: rgb(183, 183, 183);
}

.work-tab {
  font-size: 1.2rem;
}

.projects-tabs-container {
  margin-top: 1rem;
}
.about-background {
  position: fixed;
  inset: 0;

  z-index: -1000;
}

.about-links {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.48);
}

.about-content {
  position: relative;
  z-index: 1;
}

.about-section-cards-container {
  position: relative;
  padding-bottom: 10vh;
}

.about-card {
  position: sticky;
  top: 6em;
  line-height: 1.2;
  min-height: 400px;
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 50vh;
}

.about-card-text h4 {
  font-size: 1rem;
}

.skills {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.skills div {
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  border: 1px solid grey;
  border-radius: 50px;
}
.about-image {
  height: 100%;
}

.about-tab-content {
  animation: SlideIn 0.75s ease-in-out;
}
.about-image.work {
  width: 30vw;
}
.about-image > img {
  height: 100%;
}

@keyframes SlideUp {
  from {
    opacity: 1;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-card-text h3 {
  font-size: 2rem;
  font-weight: 400;
}

.about-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.about-card-text p {
  text-align: justify;
}

.about-image {
  position: relative;
}

.bar-row {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  --bar-width: 5px;
  --bar-width-2: 30px;

  background: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent var(--bar-width),
    black var(--bar-width),
    black var(--bar-width-2)
  );
}

.row-1 {
  top: 0;
  animation: Bars1 linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.row-2 {
  top: 33.333%;
  --bar-width: 10px;
  --bar-width-2: 35px;
  animation: Bars2 linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.row-3 {
  top: 66.666%;
  animation: Bars3 linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@property --bar-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 5px;
}

@property --bar-width-2 {
  syntax: "<length>";
  inherits: false;
  initial-value: 30px;
}

@keyframes Bars1 {
  0% {
    --bar-width: 5px;
  }

  100% {
    --bar-width: 30px;
  }
}

@keyframes Bars2 {
  0% {
    --bar-width: 10px;
  }

  75% {
    --bar-width: 35px;
  }

  100% {
    --bar-width: 35px;
  }
}

@keyframes Bars3 {
  0% {
    --bar-width: 5px;
  }
  47% {
    --bar-width: 30px;
  }

  100% {
    --bar-width: 30px;
  }
}

/*Contact Section*/

.contact-section {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-header {
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(48, 48, 48);
  padding: 0.75rem 1rem;
  border-radius: 50px;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: rgb(226, 226, 226);
}

.contact-section h2 {
  margin-bottom: 1rem;
}

.contact-section p {
  margin-bottom: 2rem;
}

.contact-form-container {
  height: 65vh;
  width: 60vw;
  border: 1px solid grey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.art-2 {
  overflow: hidden;
}
